
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        /* Custom CSS for centering */
        #progress {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000; /* Ensure it's above other content */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form id="UserForm" method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" id="id_email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_first_name">First Name:</label>
            <input type="text" id="id_first_name" name="first_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_last_name">Last Name:</label>
            <input type="text" id="id_last_name" name="last_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>

    <!-- Progress indicator -->
    <div id="progress" class="d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        Registering...
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script>
    $(document).ready(function() {
        $('#UserForm').submit(function(e) {
            e.preventDefault(); // Prevent form submission

            var email = $('#id_email').val();
            var username = $('#id_username').val();
            var password = $('#id_password').val();

            if (!username || !password) {
                alert('Please enter username and password.');
                return;
            }

            if (!email) {
                alert('Please enter Email.');
                return;
            }

            // Show the progress indicator
            $('#progress').removeClass('d-none');

            // Perform AJAX login request
            $.ajax({
                url: '/create_user/', // URL for the login view
                method: 'POST',
                data: $(this).serialize(), // Serialize form data
                success: function(response) {
                    // Hide the progress indicator
                    $('#progress').addClass('d-none');
                    console.log("Serialized form data:", $(this).serialize());
                    // Check the login status
                    if (response.status === 'success') {
                        // Check if the user is authenticated
                        window.location.href = '{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}?next=/profile/{% endif %}';
                    } else {
                        // Display login failure alert
                        alert('Registration failed.');
                    }
                },
                error: function(xhr, errmsg, err) {
                    // Hide the progress indicator
                    $('#progress').addClass('d-none');
                    // Handle AJAX error
                    alert('Registration failed. Please try again.');
                }
            });
        });
    });
</script>

</body>
</html>